:root {
  --border-radius: 7.5px;
  --border-radius-big: 20px;

  --width-medium: 420px;
  --width-small: 310px;

  --gap-large: 30px;
  --gap-small: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Calibri", sans-serif;

  width: 100wv;
  height: 100%;
}

body {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  /* width: 100vw;
  height: 100vh; */

  background-image: url("./assets/background.jpeg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;
}

header {
  width: 100%;
}

header > .searchForm > .inputWrapper {
  border-radius: var(--border-radius);
  padding: 2.5px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(95, 158, 160, 0.1);
}

header > .searchForm > .inputWrapper > button {
  width: 30px;
  height: 30px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

header > .searchForm > .inputWrapper > button > .searchIcon {
  width: 30px;
  height: 30px;
}

.searchInput {
  background-color: transparent;

  border: none;

  padding: 0;

  height: 30px;

  color: #fff;

  line-height: 30px;
  font-size: 20px;
}

.searchInput::placeholder {
  color: #fff;
  opacity: 0.75;
}

.searchInput::-moz-placeholder {
  color: #fff;
  opacity: 0.75;
}

textarea:focus,
.searchInput:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

header .changeTheme {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  width: 40px;
  aspect-ratio: 1;

  background-color: rgba(95, 158, 160, 0.1);

  border-radius: var(--border-radius);

  top: 0;
  right: 0;
  margin: 5px;

  cursor: pointer;

  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}

.changeTheme:hover {
  transform: scale(1.2);
}

.changeTheme > img {
  width: 90%;
  aspect-ratio: 1;
}

main {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;

  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: white;
}

.time {
  position: relative;
  height: calc(45px * 2);

  background-color: rgba(95, 158, 160, 0.1);

  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius);

  font-size: 300%;

  animation: 0.3s fromTop alternate ease-out;
}

.links {
  position: relative;

  background-color: rgba(95, 158, 160, 0.1);

  border-radius: var(--border-radius);

  animation: 0.3s fromBottom alternate ease-out;
}

@keyframes fromTop {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

.links > ul {
  gap: 10px;
}

.links > ul > li {
  display: flex;
  flex-direction: column;
  gap: 5px;

  height: 120px;

  max-width: 100px;
  align-items: center;
  justify-content: center;
}

.links > ul > li:hover {
  cursor: pointer;
}

.links > ul > li > a {
  text-align: center;
}

.links > ul > li > a > img {
  max-width: 100px;
  transform: translateY(12.5%);
  transition: transform 0.3s ease-in-out;
}

.links > ul > li:hover > a > img {
  transform: translateY(0);
}

.links > ul > li.sparkasse > a > img {
  max-height: 100px;
}

.links > ul > li > a > span {
  transform: translateY(12.5%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  color: #fff;
  font-weight: 600;
  /* text-decoration: solid; */
}

.links > ul > li:hover > a > span {
  transform: translateY(0);
  opacity: 100%;
}

/* big screen */
@media only screen and (min-width: 700px) {
  main {
    gap: 10%;
    height: 100%;
  }

  header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }

  .searchForm {
    margin-left: 10px;
  }

  .searchInput {
    width: 0;
    transition: width 0.5s ease-out, padding-left 0.25s ease-out;
    box-sizing: border-box;
  }

  header > .searchForm > .inputWrapper .searchInput:focus {
    width: 250px;
    padding-left: 5px;
  }

  .links {
    padding: 10px 20px;
  }

  .time {
    position: relative;
    /* position: absolute;
    top: 80px; */

    /* width: calc(200px * 1.5); */
    width: 50%;
  }

  .links > ul {
    display: flex;
    flex-direction: row;
  }
}

/* medium screen */
@media only screen and (max-width: 700px) and (min-width: 430px) {
  body {
    display: flex;
    flex-direction: column;

    gap: var(--gap-large);
  }

  header {
    display: flex;
    flex-direction: column-reverse;

    gap: var(--gap-large);

    align-items: center;
  }

  .searchForm {
    width: var(--width-medium);
    height: 35px;
  }

  .searchInput {
    width: 100%;
    height: 30px;

    padding-left: 5px;
  }

  .changeTheme {
    align-self: flex-end;
  }

  main {
    gap: var(--gap-large);

    align-items: center;
  }

  .time {
    width: var(--width-medium);
  }

  .links {
    padding: 10px 50px;
  }

  .links > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* little screen */
@media only screen and (max-width: 430px) {
  body {
    display: flex;
    flex-direction: column;

    gap: var(--gap-small);
  }

  header {
    display: flex;
    flex-direction: column-reverse;

    gap: var(--gap-large);

    align-items: center;
  }

  .searchForm {
    width: var(--width-small);
    height: 35px;
  }

  .searchInput {
    width: 100%;

    padding-left: 5px;
  }

  .changeTheme {
    align-self: flex-end;
  }

  main {
    gap: var(--gap-small);
  }

  .time {
    width: 310px;
  }

  .links {
    padding: 10px 50px;
  }

  .links > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.bg-blur {
  /* ! Wird nicht von Firefox unterstützt */
  backdrop-filter: blur(10px) saturate(160%);
  -webkit-backdrop-filter: blur(10px) saturate(160%);
}
